---
name: Linter

on:
  pull_request:
    branches: [master, main]

permissions: read-all

jobs:
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
    - name: Check out code
      # Version v6.0.0
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        # super-linter needs the full git history to get the
        # list of files that changed across commits
        fetch-depth: 0
        persist-credentials: false
    - name: Run super-linter
      # Version v8.2.1
      uses: super-linter/super-linter@d29d0d4ffb9e0d5f71026f616ba31b1228b772fa
      env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_BASH_EXEC: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_JSCPD: false
          VALIDATE_JSON: false
          VALIDATE_JSON_PRETTIER: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_TRIVY: false
          VALIDATE_YAML_PRETTIER: false
          FILTER_REGEX_EXCLUDE: "CHANGELOG.md"
